@font-face {
  font-family: "PT Sans";
  src: local("fonts/ptsans.woff") format("woff"), local("fonts/ptsans.woff2") format("woff2"), url("https://fonts.googleapis.com/css?family=PT+Sans");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "PT Sans";
  src: local("fonts/ptsansbold.woff") format("woff"), local("fonts/ptsansbold.woff2") format("woff2"), url("https://fonts.googleapis.com/css?family=PT+Sans:700");
  font-style: normal;
  font-weight: bold;
}
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-overflow: ellipsis;
}
::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-overflow: ellipsis;
  opacity: 1;
}
:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-overflow: ellipsis;
}
:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  text-overflow: ellipsis;
}
html {
  background-color: #ffffff;
}
button {
  font: 14px/24px "PT Sans", Tahoma, sans-serif;
  padding: 0;
  line-height: 0;
}
body {
  min-width: 320px;
  width: 320px;
  margin: 0 auto;
  font: 14px/24px "PT Sans", Tahoma, sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  background-color: #ffffff;
}
@media (min-width:  768px ) {
  body {
    width: 768px;
  }
}
@media (min-width:  1200px ) {
  body {
    width: 1200px;
  }
}
body::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: -1;
}
img {
  height: auto;
  max-width: 100%;
}
p {
  color: #333333;
}
.heading {
  padding: 20px;
  padding-bottom: 0;
}
.heading__title {
  font-size: 18px;
  line-height: 26px;
  margin: 18px 10px 27px 10px;
}
@media (min-width:  768px ) {
  .heading__title {
    font-size: 30px;
  }
  .heading--index .heading__title {
    font-size: 21px;
  }
}
@media (min-width:  1200px ) {
  .heading__title {
    margin-bottom: 32px;
  }
}
@media (min-width:  768px ) {
  .heading {
    padding: 20px 100px 39px;
  }
}
@media (min-width:  1200px ) {
  .heading {
    width: 445px;
    margin: 0 auto;
  }
  .heading--index {
    padding-bottom: 15px;
  }
}
@media (min-width:  768px ) {
  .main {
    padding: 0 60px;
  }
}
@media (min-width:  1200px ) {
  .main {
    padding: 0;
  }
}
.btn {
  background-color: #81b3d2;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 20px;
  text-decoration: none;
  font-weight: bold;
  line-height: 58px;
  display: block;
  box-sizing: border-box;
  font-size: 21px;
}
.btn:hover {
  background-color: #669ec0;
}
.btn:focus,
.btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}
.clearfix::after {
  clear: both;
}
.no-js .main-menu__list {
  display: block;
  position: relative;
}
.no-js .main-menu__button {
  display: none;
}
.main-menu {
  position: relative;
  min-height: 56px;
}
.main-menu__button {
  position: absolute;
  z-index: 6;
  right: 0;
  top: 0;
  font-size: 0;
  width: 23px;
  height: 23px;
  border: none;
  background: none;
  margin: 15px 20px;
  padding: 0;
  cursor: pointer;
}
.main-menu__button:focus {
  outline: none;
}
@media (min-width:  768px ) {
  .main-menu__button {
    display: none;
  }
}
.main-menu__list {
  top: 0;
  z-index: 5;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  width: 100%;
  text-align: center;
  box-shadow: 0 -7px 7px -7px #6c96b0 inset;
  display: none;
}
.main-menu__list.main-menu__list--opened {
  display: block;
}
@media (min-width:  768px ) {
  .main-menu__list {
    display: block;
    position: relative;
    background: transparent;
    box-shadow: none;
  }
}
.main-menu__item:not(:last-child) {
  border-bottom: 1px solid #678fa8;
  box-shadow: 0 1px 0 #9ac2db;
}
@media (min-width:  768px ) {
  .main-menu__item:not(:last-child) {
    border: none;
    box-shadow: none;
  }
  .main-menu__item:not(:last-child):nth-child(2) .main-menu__link {
    margin-right: 20%;
  }
}
.main-menu__link {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  line-height: 55px;
  font-size: 18px;
  display: block;
  background-color: #81b3d2;
}
.main-menu__link:hover {
  background-color: #669ec0;
}
.main-menu__link:focus,
.main-menu__link:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width:  768px ) {
  .main-menu__link {
    background-color: #ffffff;
    font-size: 14px;
    width: 20%;
    float: left;
    line-height: 56px;
    color: #766357;
  }
  .main-menu__link:hover {
    background-color: #ffffff;
    color: #604e43;
  }
  .main-menu__link:focus,
  .main-menu__link:active {
    color: #604e43;
  }
  .main-menu__link[href] {
    color: #000000;
  }
  .main-menu__link[href]:hover {
    background-color: #ffffff;
    color: #81b3d2;
  }
  .main-menu__link[href]:focus,
  .main-menu__link[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }
}
.main-menu__logo {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-menu__button::before {
  position: absolute;
  top: 9.5px;
  left: 0;
  content: "";
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 -9px 0 #81b3d2, 0 9px 0 #81b3d2;
  transition: all 0.3s ease-in-out 0s;
}
.main-menu__button--opened.main-menu__button::before {
  box-shadow: 0 0 0 #81b3d2, 0 0 0 #81b3d2;
  transform: rotate(45deg);
  width: 27px;
  background-color: #ffffff;
}
.main-menu__button::after {
  position: absolute;
  top: 9.5px;
  left: 0;
  content: "";
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  transition: all 0.3s ease-in-out 0s;
}
.main-menu__button--opened.main-menu__button::after {
  transform: rotate(135deg);
  width: 27px;
  background-color: #ffffff;
}
.index-promo {
  min-height: 390px;
  position: relative;
  z-index: 2;
  text-align: left;
  background: url("../img/bg-back-mobile.jpg") no-repeat center top transparent;
}
.index-promo::before {
  content: "";
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 27px;
  bottom: 0;
  background: url("../img/bg-intro-triangle-mobile.svg") bottom center no-repeat transparent;
}
@media (min-width:  768px ) {
  .index-promo::before {
    background: url("../img/bg-intro-triangle-tablet.svg") bottom center no-repeat transparent;
    height: 57px;
  }
}
@media (min-width:  1200px ) {
  .index-promo::before {
    background: url("../img/bg-intro-triangle-desktop.svg") bottom center no-repeat transparent;
  }
}
@media (min-resolution: 1.5dppx) {
  .index-promo {
    background: url("../img/bg-back-mobile@2x.jpg") no-repeat center top transparent;
    background-size: auto 100%;
  }
  .index-promo::before {
    bottom: -1px;
  }
}
@media (min-width:  768px ) {
  .index-promo {
    min-height: 520px;
    margin-bottom: 10px;
    background: url("../img/bg-back-desktop.jpg") no-repeat center top transparent;
  }
}
@media (min-width:  768px ) and (min-resolution: 1.5dppx) {
  .index-promo {
    background: url("../img/bg-back-desktop@2x.jpg") no-repeat center top transparent;
    background-size: auto 100%;
  }
}
.index-promo__pick {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 20px;
  box-sizing: border-box;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media (min-width:  768px ) {
  .index-promo__pick {
    top: 252px;
  }
}
.promo {
  min-height: 160px;
  position: relative;
  z-index: 2;
  text-align: left;
  background: url("../img/bg-back-mobile.jpg") no-repeat center bottom transparent;
}
.promo::before {
  content: "";
  position: absolute;
  z-index: 3;
  height: 26px;
  width: 100%;
  bottom: -1px;
  background: url("../img/bg-intro-triangle-mobile.svg") bottom center no-repeat transparent;
}
@media (min-width:  768px ) {
  .promo::before {
    background: url("../img/bg-intro-triangle-tablet.svg") bottom center no-repeat transparent;
    height: 57px;
  }
}
@media (min-width:  1200px ) {
  .promo::before {
    background: url("../img/bg-intro-triangle-desktop.svg") bottom center no-repeat transparent;
  }
}
@media (min-width:  768px ) {
  .promo {
    margin-bottom: 38px;
    min-height: 290px;
    background: url("../img/bg-back-desktop.jpg") no-repeat center bottom transparent;
  }
}
@media (min-width:  1200px ) {
  .promo {
    min-height: 300px;
    margin-bottom: 73px;
  }
}
.promo__pick {
  position: absolute;
  top: 50px;
  padding: 0 45px;
  box-sizing: border-box;
}
@media (min-width:  768px ) {
  .promo__pick {
    margin: 0 auto;
    left: 0;
    top: 95px;
    right: 0;
  }
}
.features {
  background-color: #81b3d2;
  color: #ffffff;
  position: relative;
}
.features::before,
.features::after {
  content: " ";
  display: table;
}
.features::after {
  clear: both;
}
@media (min-width:  768px ) {
  .features {
    display: flex;
  }
}
@media (min-width:  1200px ) {
  .features__pick {
    position: relative;
    overflow: hidden;
  }
  .features__pick img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
.features__pick {
  line-height: 0;
}
.features__pick img {
  min-height: 260px;
  object-fit: cover;
}
@media (min-width:  768px ) {
  .features__pick {
    width: calc((100% / 3) * 2);
    float: left;
  }
}
.features__desc {
  color: #ffffff;
  margin: 19px 0;
  line-height: 21px;
  word-wrap: break-word;
}
.features__title {
  font-size: 18px;
  margin-bottom: 6px;
}
@media (min-width:  768px ) {
  .features__title {
    margin: 22px 8px 12px;
    font-size: 21px;
  }
}
@media (min-width:  1200px ) {
  .features__title {
    margin: 4px 30px 11px;
  }
}
.features--mod {
  margin-top: 20px;
  padding-top: 30px;
}
.features--mod::before,
.features--mod::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 16px;
  width: 50%;
  background: linear-gradient(to right bottom, #ffffff 50%, transparent 50%);
}
.features--mod::after {
  left: 0;
  background: linear-gradient(to left bottom, #ffffff 50%, transparent 50%);
}
@media (min-width:  768px ) {
  .features--mod {
    padding-top: 0;
    order: 0;
  }
  .features--mod::before,
  .features--mod::after {
    content: none;
  }
}
@media (min-width:  1200px ) {
  .features--mod {
    padding-top: 0;
    margin-top: 20px;
  }
}
@media (min-width:  768px ) {
  .features--mod {
    margin-top: 0;
  }
}
.features__block {
  padding-bottom: 27px;
  padding-top: 24px;
}
@media (min-width:  768px ) {
  .features__block {
    width: calc(100% / 3);
    order: 3;
    box-sizing: border-box;
    margin: 0;
    padding: 25px 40px 20px;
  }
}
@media (min-width:  1200px ) {
  .features__block {
    padding: 50px 70px 39px;
  }
}
.advantages {
  text-align: left;
  padding: 20px;
  padding-bottom: 8px;
}
.advantages::before,
.advantages::after {
  content: " ";
  display: table;
}
.advantages::after {
  clear: both;
}
@media (min-width:  768px ) {
  .advantages {
    text-align: center;
    padding: 50px 0;
  }
}
@media (min-width:  1200px ) {
  .advantages {
    padding: 50px 0 70px;
  }
}
.advantages__item {
  position: relative;
  margin-left: 50px;
  margin-bottom: 30px;
}
.advantages__item::before {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  left: -50px;
  top: -10px;
}
@media (min-width:  768px ) {
  .advantages__item::before {
    left: 50%;
    top: -10px;
    transform: translate(-50%, -100%);
    width: 75px;
    height: 75px;
  }
}
@media (min-width:  1200px ) {
  .advantages__item::before {
    top: -6px;
  }
}
.advantages__item--life::before {
  background: url("../img/icon-house.svg") no-repeat center center transparent;
  background-size: 100%;
}
.advantages__item--gift::before {
  background: url("../img/icon-gift.svg") no-repeat center center transparent;
  background-size: 100%;
}
.advantages__item--food::before {
  background: url("../img/icon-burger.svg") no-repeat center center transparent;
  background-size: 100%;
}
@media (min-width:  768px ) {
  .advantages__item {
    margin: 0;
    padding: 0 40px;
    box-sizing: border-box;
    float: left;
    width: calc(100% / 3);
    margin-top: 89px;
  }
}
.advantages__title {
  font-size: 18px;
}
@media (min-width:  768px ) {
  .advantages__title {
    font-size: 21px;
  }
}
@media (min-width:  1200px ) {
  .advantages__title {
    margin-bottom: 27px;
  }
}
.advantages__desc {
  line-height: 20px;
}
@media (min-width:  1200px ) {
  .advantages__desc {
    padding: 0 20px;
  }
}
.features-list {
  background-color: #eeeeee;
  padding: 10px 20px;
}
@media (min-width:  768px ) {
  .features-list {
    padding: 0;
  }
}
.features-list::before,
.features-list::after {
  content: " ";
  display: table;
}
.features-list::after {
  clear: both;
}
.features-list__title {
  font-size: 18px;
  margin-bottom: 8px;
}
@media (min-width:  768px ) {
  .features-list__title {
    margin: 27px 8px 11px;
    font-size: 21px;
  }
}
@media (min-width:  1200px ) {
  .features-list__title {
    margin: 0 80px 10px;
  }
}
.features-list__desc {
  margin: 10px 0;
  line-height: 24px;
  word-wrap: break-word;
}
@media (min-width:  768px ) {
  .features-list__desc {
    margin: 20px 0;
    line-height: 21px;
  }
}
.features-list__item {
  margin: 0 20px;
}
.features-list__item:not(:last-child) {
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 27px;
  padding-bottom: 13px;
}
@media (min-width:  768px ) {
  .features-list__item {
    width: calc(100% / 3);
    float: left;
    margin: 0;
    padding: 20px 40px;
    box-sizing: border-box;
  }
  .features-list__item:not(:last-child) {
    border: none;
    margin: 0;
    padding: 20px 40px;
  }
}
@media (min-width:  1200px ) {
  .features-list__item {
    padding: 47px 45px 45px;
  }
  .features-list__item:not(:last-child) {
    padding: 47px 45px 45px;
  }
}
.feedback {
  margin: 30px 20px;
}
.feedback__btn {
  margin-top: 30px;
  margin-bottom: 50px;
}
@media (min-width:  768px ) {
  .feedback {
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
  .feedback__title {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .feedback__btn {
    margin-top: 43px;
    margin-bottom: 58px;
  }
}
@media (min-width:  1200px ) {
  .feedback {
    margin-top: 56px;
  }
  .feedback__btn {
    margin-top: 49px;
    margin-bottom: 66px;
  }
}
.map {
  height: 350px;
  background: url("../img/icon-map-marker.svg") no-repeat center, url("../img/bg-map-mobile.jpg") no-repeat top center #f3f1ed;
}
.map__iframe {
  height: 350px;
  width: 320px;
}
@media (min-width:  768px ) {
  .map {
    background: url("../img/icon-map-marker.svg") no-repeat center, url("../img/bg-map-tablet.jpg") no-repeat top center #f3f1ed;
  }
}
@media (min-width:  1200px ) {
  .map {
    background: url("../img/icon-map-marker.svg") no-repeat center, url("../img/bg-map-desktop.jpg") no-repeat top center #f3f1ed;
  }
}
.main-footer::before,
.main-footer::after {
  content: " ";
  display: table;
}
.main-footer::after {
  clear: both;
}
@media (min-width:  768px ) {
  .main-footer {
    padding: 0 60px;
  }
}
@media (min-width:  1200px ) {
  .main-footer {
    padding: 0;
  }
}
.main-footer__hashtag {
  font-weight: bold;
  font-size: 21px;
  margin: 35px;
}
@media (min-width:  768px ) {
  .main-footer__hashtag {
    width: calc(100% / 3);
    float: left;
    text-align: left;
    padding: 36px 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 48px;
  }
}
@media (min-width:  1200px ) {
  .main-footer__hashtag {
    text-align: center;
  }
}
.main-footer__develop {
  margin: 40px;
  display: block;
  line-height: 36px;
  text-decoration: none;
  color: #000000;
}
.main-footer__develop svg {
  fill: #000000;
  margin-left: 10px;
  vertical-align: middle;
}
.main-footer__develop:hover svg {
  fill: #81b3d2;
}
.main-footer__develop:focus,
.main-footer__develop:active svg {
  fill: rgba(0, 0, 0, 0.3);
}
@media (min-width:  768px ) {
  .main-footer__develop {
    width: calc(100% / 3);
    float: left;
    padding: 36px 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 48px;
    text-align: right;
  }
}
@media (min-width:  1200px ) {
  .main-footer__develop {
    text-align: center;
  }
}
@media (min-width:  768px ) {
  .main-footer__socail {
    width: calc(100% / 3);
    float: left;
    padding: 36px 0;
    box-sizing: border-box;
  }
}
.social-block {
  font-size: 0;
}
.social-link {
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  position: relative;
}
.social-link:hover {
  background-color: #669ec0;
}
.social-link:focus,
.social-link:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.social-link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #ffffff;
}
.social-link:focus svg {
  fill: rgba(255, 255, 255, 0.3);
}
.social-link--tg {
  background: url("../img/icon-tg.svg") center center no-repeat #81b3d2;
  background-size: 18px;
}
.social-link--youtube {
  background: url("../img/icon-youtube.svg") center center no-repeat #81b3d2;
  background-size: 20px;
}
.social-link--vk {
  background: url("../img/icon-vk.svg") center center no-repeat #81b3d2;
  background-size: 9px;
}
.social-link:not(:last-child) {
  margin-right: 6px;
}
.form {
  margin-bottom: 12px;
}
@media (min-width:  768px ) {
  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width:  1200px ) {
  .form {
    padding: 0 120px;
  }
}
.form > section {
  border-top: 1px solid #e5e5e5;
  padding: 20px 19px 24px;
}
@media (min-width:  768px ) {
  .form > section {
    order: 3;
    box-sizing: border-box;
    width: 100%;
    border: none;
    text-align: left;
    padding: 0;
  }
}
.form__title {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 18px;
}
@media (min-width:  768px ) {
  .form__title {
    font-size: 21px;
    margin-bottom: 26px;
  }
  .form__title-hide {
    display: none;
  }
  .form__title--bg-line {
    text-align: center;
    position: relative;
    background-color: #ffffff;
    padding-left: 150px;
    padding-right: 150px;
  }
  .form__title--bg-line::before,
  .form__title--bg-line::after {
    content: "";
    position: absolute;
    background-color: #dbdbdb;
    height: 1px;
    width: 125px;
    top: 50%;
    left: 0;
  }
  .form__title--bg-line::after {
    right: 0;
    left: auto;
  }
}
@media (min-width:  1200px ) {
  .form__title--bg-line {
    padding-left: 300px;
    padding-right: 300px;
  }
  .form__title::before,
  .form__title::after {
    width: 280px;
  }
  .form__title-hide {
    display: inline;
  }
}
.form__name-wrap {
  display: flex;
}
.form__name-wrap:not(:last-child) {
  margin-bottom: 20px;
}
.form__name-label {
  padding: 21px 0;
}
.form__name-input {
  background-color: #f2f2f2;
  border: none;
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  padding: 18px;
  margin-left: 17px;
  box-sizing: border-box;
  width: 100%;
}
@media (min-width:  768px ) {
  .form .form__name {
    order: 1;
    width: 50%;
    padding-top: 25px;
    padding-left: 57px;
    padding-right: 0;
  }
  .form__name .form__title {
    text-align: left;
    margin-bottom: 57px;
  }
}
@media (min-width:  1200px ) {
  .form .form__name {
    order: 1;
    width: 50%;
    padding-left: 80px;
    padding-top: 7px;
  }
}
.form__contacts {
  text-align: left;
}
@media (min-width:  768px ) {
  .form__contacts {
    margin-top: 71px;
  }
}
.form__contacts-label {
  display: block;
  margin: 12px 22px 7px 22px;
}
@media (min-width:  1200px ) {
  .form__contacts-label {
    white-space: nowrap;
    padding: 22px 0;
    margin: 0;
    margin-right: 20px;
  }
}
.form__contacts-input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 6px;
  background-color: #f2f2f2;
  border: none;
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  padding: 18px 64px 18px 22px;
}
@media (min-width:  1200px ) {
  .form__contacts-hide {
    display: none;
  }
}
.form__contacts-wrap {
  position: relative;
}
.form__contacts-wrap:not(:last-child) {
  margin-bottom: 13px;
}
@media (min-width:  768px ) {
  .form__contacts-wrap:not(:last-child) {
    margin-bottom: 20px;
  }
}
.form__contacts-wrap::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 64px;
  height: 64px;
}
.form__contacts-wrap.form__contacts-wrap--phone::before {
  background: url("../img/icon-phone.svg") no-repeat center center #e6e6e6;
}
.form__contacts-wrap.form__contacts-wrap--mail::before {
  background: url("../img/icon-mail.svg") no-repeat center center #e6e6e6;
}
.form__contacts-wrap::after {
  content: attr(data-error);
  text-transform: none;
  color: #ff5c5c;
  margin-left: 22px;
  display: none;
}
@media (min-width:  768px ) {
  .form__contacts-wrap::after {
    position: absolute;
    right: 0;
    top: -30px;
  }
}
@media (min-width:  1200px ) {
  .form__contacts-wrap::after {
    left: 0;
  }
}
.form__contacts-wrap--error::after {
  display: block;
}
@media (min-width:  1200px ) {
  .form__contacts-box {
    width: 50%;
    float: left;
    display: flex;
    margin-top: 48px;
  }
}
.form__impression-label {
  line-height: 56px;
  padding-left: 58px;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
}
.form__impression-label::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border: 17px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 50%;
  left: -19px;
}
.form__impression-label:hover::before {
  border-color: #e5e5e5;
  background-color: #e5e5e5;
}
.form__impression-label:focus::before,
.form__impression-label:active::before {
  border-color: #d5d5d5;
  background-color: #d5d5d5;
}
@media (min-width:  768px ) {
  .form__impression-label {
    padding-left: 76px;
  }
  .form__impression-label::before {
    left: 0;
  }
}
@media (min-width:  1200px ) {
  .form__impression-label {
    padding-left: 80px;
  }
  .form__impression-label::before {
    left: 4px;
  }
}
.form__impression-wrap:not(:last-child) {
  margin-bottom: 12px;
}
@media (min-width:  768px ) {
  .form__impression-wrap:not(:last-child) {
    margin-bottom: 22px;
  }
}
.form__impression-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width:  768px ) {
  .form__impression-wrap {
    padding-right: 30px;
  }
}
.form__impression-input {
  display: none;
}
.form__impression-input:checked ~ label::before {
  background-color: #333333;
}
@media (min-width:  768px ) {
  .form .form__impression {
    order: 2;
    width: 50%;
    border-left: 1px solid #dbdbdb;
    padding: 24px 0 0 0;
  }
  .form__impression .form__title {
    text-align: left;
    margin-bottom: 59px;
  }
}
@media (min-width:  1200px ) {
  .form__impression {
    padding-top: 0;
  }
  .form__impression .form__title {
    padding-left: 79px;
    padding-top: 7px;
  }
}
.form__place {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (min-width:  768px ) {
  .form__place {
    font-size: 0;
    margin-top: 49px;
  }
}
.form__place-wrap {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.form__place-wrap:not(:last-child) {
  margin-bottom: 24px;
}
@media (min-width:  768px ) {
  .form__place-wrap:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width:  768px ) {
  .form__place-wrap {
    width: 50%;
    padding-left: 30px;
    box-sizing: border-box;
    padding-top: 17px;
    padding-bottom: 15px;
  }
  .form__place-wrap:nth-child(even) {
    padding-left: 95px;
  }
}
@media (min-width:  1200px ) {
  .form__place-wrap {
    width: 25%;
    padding: 0;
    margin-top: 17px;
  }
  .form__place-wrap:nth-child(even) {
    padding: 0;
  }
}
.form__place-label {
  line-height: 56px;
  padding-left: 80px;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
}
.form__place-label::before {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 3px;
  left: 0;
}
.form__place-label:hover::before {
  background-color: #e5e5e5;
}
.form__place-label:focus::before,
.form__place-label:active::before {
  background-color: #d5d5d5;
}
.form__place-label:focus::after,
.form__place-label:active::after {
  opacity: 0.3;
}
.form__place-input {
  display: none;
}
.form__place-input:checked ~ label::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 10px;
  border-left: 4px solid #333333;
  border-bottom: 4px solid #333333;
  left: 18px;
  top: 3px;
  transform: rotate(-45deg);
}
.form__feedback {
  font: 14px/24px "PT Sans", Tahoma, sans-serif;
  resize: vertical;
  width: 100%;
  background-color: #f2f2f2;
  border: none;
  min-height: 160px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
}
@media (min-width:  768px ) {
  .form__feedback {
    margin-top: 30px;
  }
}
@media (min-width:  768px ) {
  .form__message {
    margin-top: 55px;
    margin-bottom: 50px;
  }
  .form__message::before,
  .form__message::after {
    content: " ";
    display: table;
  }
  .form__message::after {
    clear: both;
  }
}
@media (min-width:  1200px ) {
  .form__message {
    margin-top: 68px;
  }
}
.form__btn {
  width: 100%;
  margin-top: 45px;
  font-size: 18px;
  cursor: pointer;
}
@media (min-width:  768px ) {
  .form__btn {
    width: 50%;
    float: left;
    margin-top: 53px;
  }
}
.form__text-requared {
  display: none;
}
@media (min-width:  768px ) {
  .form__text-requared {
    display: block;
    width: 50%;
    float: right;
    text-align: right;
    margin-top: 73px;
  }
}
.form input[type="text"],
.form input[type="tel"],
.form input[type="email"] {
  border: 4px solid #f2f2f2;
}
.form input[type="text"]:hover,
.form input[type="tel"]:hover,
.form input[type="email"]:hover {
  background-color: #e5e5e5;
  border: 4px solid #e5e5e5;
}
.form input[type="text"]:focus,
.form input[type="tel"]:focus,
.form input[type="email"]:focus,
.form input[type="text"]:active,
.form input[type="tel"]:active,
.form input[type="email"]:active {
  background-color: transparent;
  border: 4px solid #e5e5e5;
  outline: none;
}
.popup {
  position: fixed;
  z-index: 9999;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  box-sizing: border-box;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
}
.popup--closed {
  display: none;
}
.popup__wrap {
  margin: 36px;
}
.popup__btn {
  min-width: 180px;
  cursor: pointer;
  margin: 0 auto;
}
.popup__btn--bad {
  width: 100%;
}
.popup__btn-wrap {
  padding-bottom: 36px;
}
.popup__btn-wrap--bad {
  background-color: #f2f2f2;
  padding: 20px;
}
@media (min-width:  768px ) {
  .popup__title {
    font-size: 30px;
    line-height: 1.4;
  }
}
@media (min-width:  768px ) {
  .popup--good {
    width: 640px;
  }
  .popup--good .popup__wrap {
    margin-left: 100px;
    margin-right: 100px;
  }
  .popup--good .popup__btn-wrap--bad {
    padding: 45px 100px;
  }
}
@media (min-width:  768px ) {
  .popup--bad {
    width: 400px;
  }
  .popup--bad .popup__wrap {
    margin: 50px 60px 30px 60px;
  }
  .popup--bad .popup__btn-wrap {
    padding-left: 65px;
    padding-right: 65px;
  }
  .popup--bad .popup__btn {
    width: 100%;
  }
}
.post {
  border-top: 1px solid #e5e5e5;
  padding: 22px 20px 16px;
  text-align: left;
}
@media (min-width:  768px ) {
  .post {
    border: none;
    padding: 0;
    width: 50%;
    background-color: #f2f2f2;
  }
  .post--main {
    width: 100%;
  }
}
@media (min-width:  1200px ) {
  .post {
    position: relative;
    width: calc(100% / 3);
  }
  .post--main {
    width: 100%;
  }
}
.post:last-of-type {
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width:  768px ) {
  .post:last-of-type {
    border: none;
  }
}
.post:first-of-type {
  margin-top: 24px;
}
@media (min-width:  768px ) {
  .post:first-of-type {
    margin-top: 18px;
  }
}
.post__author {
  text-transform: none;
}
.post__title {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 0;
}
@media (min-width:  768px ) {
  .post__title {
    margin-top: 0;
  }
}
.post__like {
  border: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  line-height: 20px;
}
.post__like svg {
  vertical-align: bottom;
  margin-right: 7px;
  fill: #b2b2b2;
}
@media (min-width:  768px ) {
  .post__like:hover svg {
    fill: #81b3d2;
  }
  .post__like:focus {
    outline: none;
  }
  .post__like:focus svg {
    fill: #5496bd;
  }
}
@media (min-width:  1200px ) {
  .post__like {
    color: #ffffff;
  }
  .post__like svg {
    fill: #ffffff;
  }
  .post--main .post__like {
    right: 22px;
  }
}
@media (min-width:  768px ) {
  .post__info {
    display: flex;
    flex-wrap: nowrap;
  }
}
.post__info-wrap {
  flex-grow: 1;
}
@media (min-width:  768px ) {
  .post__info {
    padding: 16px 20px;
    position: relative;
  }
  .post__info::before,
  .post__info::after {
    content: " ";
    display: table;
  }
  .post__info::after {
    clear: both;
  }
}
@media (min-width:  1200px ) {
  .post__info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
@media (min-width:  768px ) {
  .post__pick {
    display: block;
  }
}
.post-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.presentation {
  padding-top: 14px;
}
.presentation__title {
  margin: 20px;
  font-size: 18px;
}
@media (min-width:  768px ) {
  .presentation__title {
    font-size: 30px;
    margin-top: 53px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media (min-width:  1200px ) {
  .presentation__title {
    margin-top: 57px;
  }
}
.presentation__desc {
  margin: 27px;
  margin-bottom: 35px;
}
@media (min-width:  768px ) {
  .presentation__desc {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 32px;
    margin-bottom: 73px;
  }
}
@media (min-width:  1200px ) {
  .presentation__desc {
    width: 440px;
    margin: 32px auto 71px;
  }
}
.video {
  position: relative;
  line-height: 0;
  margin-bottom: 100px;
}
@media (min-width:  768px ) {
  .video {
    margin-bottom: 40px;
  }
}
@media (min-width:  1200px ) {
  .video {
    width: 800px;
    margin: 0 auto 85px;
  }
}
.video__control {
  position: absolute;
  box-sizing: border-box;
  left: 110px;
  bottom: 70px;
  background-color: inherit;
  display: flex;
  align-items: center;
}
@media (min-width:  768px ) {
  .video__control {
    background-color: inherit;
    bottom: 220px;
    left: 270px;
  }
}
@media (min-width:  1200px ) {
  .video__control {
    left: 342px;
    bottom: 224px;
  }
}
.video__control-btn {
  font-size: 0;
  border: none;
  cursor: pointer;
  background: none;
}
.video__control-btn--play {
  flex-grow: 1;
  text-align: left;
  margin-left: 25px;
}
@media (min-width:  768px ) {
  .video__control-btn--play {
    flex-grow: 0;
    text-align: center;
    order: 1;
    margin-left: 35px;
    margin-right: 42px;
  }
}
.video__control-btn svg {
  fill: #5c6870;
}
@media (min-width:  768px ) {
  .video__control-btn svg {
    fill: #ffffff;
  }
}
@media (min-width:  768px ) {
  .video__control-btn:hover svg {
    fill: #333333;
  }
  .video__control-btn:focus,
  .video__control-btn:active {
    outline: none;
  }
  .video__control-btn:focus svg,
  .video__control-btn:active svg {
    fill: #c1c1c1;
  }
}
/*# sourceMappingURL=style.css.map */
